body{
    font: normal 20pt Arial;
    background-color: rgb(109, 109, 214);
    

}
header{
    text-align: center;
    margin:auto
}
section{
    margin: auto;
    padding-top: 10px;
    background-color: whitesmoke;
    height: 300px;
    width: 500px;
    border-radius: 20px;
}
div{
    margin: 20px;
}

footer{
    text-align: center;
    font: normal 10pt arial;
    font-style: italic;
}